<!DOCTYPE html>
{{- partial "shared" -}}
<html>

<head>
  {{ partial "html-head" . }}
  {{ partial "inject/head" . }}
</head>

<body>
  <header class="header-nav" id="nav">
    <div class="nav-container">
      <a class="nav-title with-logo" href="/{{ .Site.LanguagePrefix }}">
        <img class="logo" src="{{ .Site.BaseURL }}/svg/hot-logo-icon-white.svg" alt="humanitarian openstreetmap team logo">
        <span>{{ .Site.Title }}</span>
      </a>
      <a class="nav-guide-link {{ if ne .Path "_index.md" }}guide-active{{ end }}" href="{{(index .Site.RegularPages 0).Permalink}}" >Guide</a>
      <div class="hr-v"></div>
      <a class="nav-pdf-download" 
      {{ if .Site.IsMultiLingual }}
      href="/pdfs/{{.Site.Language.Lang}}/{{ replace .Site.Title " " "_" }}.pdf">
      {{ else }}
      href="/pdfs/{{ replace .Site.Title " " "_" }}.pdf">
      {{ end }}
      Download PDF &nbsp;
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="15" viewBox="0 0 12 15">
        <g fill="none" fill-rule="evenodd" transform="translate(-4 -2)">
          <polygon points="0 0 20 0 20 20 0 20"/>
          <path fill="#D73F3F" fill-rule="nonzero" d="M15.8333333,7.5 L12.5,7.5 L12.5,2.5 L7.5,2.5 L7.5,7.5 L4.16666667,7.5 L10,13.3333333 L15.8333333,7.5 Z M4.16666667,15 L4.16666667,16.6666667 L15.8333333,16.6666667 L15.8333333,15 L4.16666667,15 Z"/>
        </g>
      </svg>
      </a>
      <input type="checkbox" style="display: none" id="menu-control" />      
    </div>
    <div class="nav-right">
    {{ $scratch := newScratch }}
    {{ $scratch.Add "lunr-langs" (slice "da" "de" "en" "es" "fi" "fr" "hu" "it" "ja" "jp" "nl" "no" "pt" "ro" "ru" "sv" "th" "tr") }}
    {{ if in ($scratch.Get "lunr-langs") .Site.Language.Lang }}
    <div> <label for="search"></label> <input type="text" name="search" class="search-input" placeholder="Search…"></div>
    <div class="search-results">
      <ul class="results-list"></ul>
    </div>
    {{ end }}
    {{ $page := .Page.RelPermalink }}

    {{ if .Site.IsMultiLingual }}
    <div class="hr-v"></div>
    <div class="language">
      <button class="language-btn">Language: {{ .Site.Language.Lang }}</button>
      <div class="language-dropdown">
        {{ $defaultLang := .Site.Params.DefaultContentLanguage }}
          {{ range .Site.Languages }}
          {{ if eq .Lang $defaultLang }}
          <a href="/">{{ .LanguageName }}</a>
          {{ else }}
            <a href="/{{.Lang}}">{{ .LanguageName }}</a>
          {{ end }}
         {{ end }}
      </div>
    </div>
    

    <div class="language-select"></div>
    <div class="languages">
    </div>
    {{ end }}
    <div class="hr-v"></div>
    <a href="https://hotosm.org" class="hotosm-link">hotosm.org <img src="/svg/icon-external-red.svg" alt=""></a>
    </div>
  </header>
  <main class="flex container">

    <aside class="book-menu fixed">
      {{ partial "menu" . }}
    </aside>

    <div class="book-page">
      {{ partial "mobile-header" . }}
      {{ template "main" . }}
      {{ partial "git-footer" . }}
    </div>

    {{ template "toc" . }}
  </main>

  {{ partial "inject/body" . }}
  {{ template "_internal/google_analytics_async.html" . }}
  <footer class="footer">

    <p>Humanitarian OpenStreetMap Team is a 501(c)(3) not-for-profit organization and global community. Learn more about &nbsp;<a href="https://www.openstreetmap.org/about">OpenStreetMap</a>.</p>
    {{if .Site.Params.BookRepo }}<a href="{{ .Site.Params.BookRepo }}" class="github-link">Contribute <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
      <path fill="#D73F3F" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path>
    </svg></a>
    {{ end }}

  </footer>
  {{ if in ($scratch.Get "lunr-langs") .Site.Language.Lang }}
  <script src="/js/search.js"></script>
  {{ end }}

  {{ if .Site.Params.matomoSiteID }}
  <div id="optout-form" ></div>
  <script type="application/javascript">var site_id = "{{ .Site.Params.matomoSiteID }}"</script>
  <script type="application/javascript" src="https://cdn.hotosm.org/tracking-v3.js"></script>
  {{ end }}
</body>

</html>
