<!DOCTYPE html>
{{- partial "shared" -}}
<html>

<head>
  {{ partial "html-head" . }}
  {{ partial "inject/head" . }}
</head>

<body>
  <input type="checkbox" style="display: none" id="menu-control" />
  <nav>
    <input type="text" name="search" id="search-input">
  </nav>
  <main class="flex container">
    <aside class="book-menu fixed">
      {{ partial "menu" . }}
    </aside>

    <div class="book-posts mr-auto">
      {{ partial "mobile-header" . }}
      {{ template "main" . }}
    </div>
  </main>
  

  {{ partial "inject/body" . }}
  {{ template "_internal/google_analytics_async.html" . }}
</body>

</html>
